.popup__submit-button {
    width: 358px;
    height: 50px;
    border-radius: 2px;
    background: #000000;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 0px;
    border: none;
    cursor: default;
}

@media screen and (max-width: 640px) {
    .popup__submit-button {
        width: 238px;
        height: 46px;
        margin-top: 0px;
        font-size: 14px;
        line-height: 17px;
    }
}

