.profile__description {
    margin: 16px 0 0;
    max-width: 265px;
    line-height: 22px;
    font-weight: 400;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 840px) {
    .profile__description {
        font-size: 16px;
        max-width: 185px;
    }
}

@media screen and (max-width: 640px) {
    .profile__description {
        max-width: 282px;
        font-size: 14px;
        line-height: 17px;
        margin: 14px 0 0;
    }
}