.authorization__submit {
    background: #FFF;
    color: #000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    padding: 14px 0 14px;
    margin-top: 216px;
    cursor: pointer;
    transition: opacity .3s;
    border-radius: 2px;
}

.authorization__submit:hover {
    opacity: 0.85;
}