.popup__container {
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    max-width: 430px;
    max-height: 271px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 34px 37px;
    position: relative;
}

@media screen and (max-width: 640px) {
    .popup__container {
        max-width: 282px;
        padding: 25px 25px;
    }
}